.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  width: 300px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history {
  margin-top: 20px;
  width: 300px;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-button {
  width: 200px;
  background-color: #27ae60;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
